body {
	background-image: url("hintergrund2.png");
	color: black;
	font-family: Calibri;
	font-size: 16pt;
}

p {
 margin-bottom: 0.25cm;
 direction: ltr;
 line-height: 120%;
 text-align: left;
 orphans: 2;
 widows: 2;
}

p.center {
 text-align: center;
 margin-bottom: 0cm;
 line-height: 108%;
}

p.bold {
 font-weight: 800;
 font-size: 30;
}

table {
 border: none;
 width: 100%;
 font-size: 20;
}

a:link {
	color: black;
	text-decoration: none;
	text-shadow: 2px 2px 2px white, 5px 5px 10px black;
}
a:visited {
	color: black;
	text-decoration: none;
	text-shadow: 2px 2px 2px white, 5px 5px 10px black;
}
a:focus {
	font-family: 'Lucida Calligraphy', sans-serif;
	text-decoration: none;
	text-shadow: 2px 2px 2px white, 5px 5px 10px black;
}
a:hover {
	font-family: 'Lucida Calligraphy', sans-serif;
	text-decoration: none;
	text-shadow: 2px 2px 2px white, 5px 5px 10px black;
}
a:active {
	font-family: 'Lucida Calligraphy', sans-serif;
	text-decoration: underline;
	text-shadow: 2px 2px 2px white, 5px 5px 10px black;
}

b.buzzword {
	color:#3f48cc;
	/*color: #92b050;*/
	font-family: 'Lucida Calligraphy', sans-serif;
	font-weight: bold;
	size: 2;
}

td.button {
	border-width: medium;
	border-style: solid;
	border-color: #3f48cc;/*#92b050;*/
	box-shadow: 20px 0 20px grey inset;
	text-align: center;
}
td.button.ie8 #box {
   zoom: 1;
   filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=20, OffY=20, Color=grey);
}

td.center {
 text-align: center
}

td.left {
 text-align: left;
 margin-bottom: 0cm;
 line-height: 108%;
 float:left;
}

td.right {
 text-align: right;
 margin-bottom: 0cm;
 line-height: 108%;
 float:right;
}

td.portrait {
	width: 400;
	height: 203;
}

th.center {
 text-align: center
}

th.left {
 text-align: left
}

th.right {
 text-align: right
}

.true {
	color: #0000ff;
}

.false {
	color: #888888;
}

.title {
	color: #3f48cc;/*#92b050;*/
	font-family: 'Lucida Calligraphy', sans-serif;
	font-weight: bold;
	font-size: 48pt;
	size: 7;
 }

.bullet {
	color: #3f48cc;/*#92b050;*/
	font-family: 'Lucida Calligraphy', sans-serif;
	font-weight: bold;
	font-size: 20pt;
	size: 5;
}

img.portrait {
	width: auto;
	height: 203px;
}
